:where(.css-dev-only-do-not-override-m4timi).ant-dropdown .ant-dropdown-menu {
  margin-top: 8px;
}

:where(.css-dev-only-do-not-override-m4timi).ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button{
  border-left: 0;
}

.ant-input:focus {
  box-shadow: none;
}



:where(.css-dev-only-do-not-override-m4timi).ant-input-search .ant-input:hover, :where(.css-dev-only-do-not-override-m4timi).ant-input-search .ant-input:focus {
  border-color: #d9d9d9;
}

.ant-dropdown {
  width: 144px;
}